*{
    scroll-behavior: smooth;
}

html{
    font-size: 10px;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    text-align: center;
}

main{
    background-color: #e8e8e8;
    color: #363636;
}

h1{
    font-size: 3em;
    margin-bottom: 10px;
}

#description{
    font-size: 1.3em;
    font-style: italic;
}

#image{
    max-width: 100%;
    max-height: 720px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    border: 6px solid #363636;
}

#img-caption{
    font-size: 1.2em;
    margin-bottom: 4em;
}

#tribute-info{
    font-size: 1.2em
}

h3:first-of-type{
    font-size: 1.6em;
}

ul{
    max-width: 550px;
    text-align: left;
    margin: 0 auto 50px auto;
}

.divider{
    border: solid 0.025em #363636;
}

li{
    margin-bottom: 1.2em;
}

li:last-of-type{
    margin-bottom: 4em;
}

blockquote{
    margin: 3em 2em;
    font-style: italic;
}

@media(max-width:500px){
    main{
        font-size: 0.9em;
        flex-wrap: wrap;
    }
}

@media(max-width:700px)
{
    #img{
        max-width:75%;
    }
}

@media(min-width: 1024px){
    main{
        font-size: 1.2em;
    }
}